
@import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap');

*{
    font-family: "Schoolbell", cursive;
    font-weight: 400;
    font-style: normal;
    margin:0;
    font-size:40px;
    
}

body{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background-color: #90C8C8;
    
    
}
#navlearn,#navplay{
    background-image: url(Images/fond/7068210b-29bc-4a4b-bc1e-6213f19f5e2c.webp);
    color:white;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display:flex;
    
    flex-direction: column;
    justify-content: center;
    align-items:center;

    margin-bottom:100px;
    width:100%;
    
}

.Menu,#Start,#previous,#next,#sound,#validate{
    width:300px;
    height:50px;
    margin:10px;
    font-weight: bold;
    background-color: white;
    border-radius: 25px;
    text-align: center;
    
    
   
   
   
}


h1 {
    
    font-family: "Schoolbell", cursive;
  font-weight: 400;
  font-style: normal;
  
    font-size: 50px;
    margin: 30px;
    text-align: center;
}

h2 {
    flex:1;
    margin: 30px;
   font-size: 35px;
   text-align:center;
}


footer{
    margin: 30px;
   
    font-weight: bold;
}










#answer,#apprentissage{
   
    background-image: url(Images/fond/cahier.webp);
    background-size: cover;
    background-position: center;
    margin-top: 100px;
    text-align: center;
    padding:150px;
    padding-left: 250px;
    padding-right:250px;
    font-size: 50px;
    
    

}
label{
    border: solid black 5px;
    border-radius: 20px;
}

#answer1,#answer2,#answer3{
    margin:30px;

}








@media (max-width: 600px) {
    *{
        margin:0;
    }
    img{
        width: 75%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    

    #previous,#next{
        display:block;
        width: 100px;
        height: 30px;
        margin-left:auto;
        margin-right:auto;
        
        font-size: 15px;
        
       
        
        
        
    }

   
    #sound{
        display:block;
        width:100px;
        margin-left:auto;
        margin-right:auto;
        
     }

     
    #Start,.Menu{
        width: 100px;
        height: 30px;
        margin:5px;
        
        border-radius: 20px;
        font-size:15px;
        }
        #answer{
            padding:100px;
        }
        #answer1,#answer2,#answer3{
            margin:100px;
        
        }

        #apprentissage{
            background-position:center;
            background-repeat: no-repeat;
            background-size: 50%;
            
          
           
            
            margin-bottom: 30px;
        }

        
        
        
}